In [19]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
# Movie datasets read the contents of the movie dataset
df = pd.read_csv("datasets/u.data",sep='\t', names=['user_id','item_id','rating','timestamp'])
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [21]:
# Read the file that contains the title of the movies
movie_titles = pd.read_csv("datasets/Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [22]:
# Get them together
df = pd.merge(df,movie_titles,on='item_id')
df.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'title'], dtype='object')

In [23]:
# Get the average rating and group them by the movie titles
df.groupby('title')['rating'].mean().sort_values(ascending=False)

title
Marlene Dietrich: Shadow and Light (1996)                 5.000000
Prefontaine (1997)                                        5.000000
Santa with Muscles (1996)                                 5.000000
Star Kid (1997)                                           5.000000
Someone Else's America (1995)                             5.000000
Entertaining Angels: The Dorothy Day Story (1996)         5.000000
Saint of Fort Washington, The (1993)                      5.000000
Great Day in Harlem, A (1994)                             5.000000
They Made Me a Criminal (1939)                            5.000000
Aiqing wansui (1994)                                      5.000000
Pather Panchali (1955)                                    4.625000
Anna (1996)                                               4.500000
Everest (1998)                                            4.500000
Maya Lin: A Strong Clear Vision (1994)                    4.500000
Some Mother's Son (1996)                                  4.500000
Close Shave, A (1995)                                     4.491071
Schindler's List (1993)                                   4.466443
Wrong Trousers, The (1993)                                4.466102
Casablanca (1942)                                         4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)    4.447761
Shawshank Redemption, The (1994)                          4.445230
Rear Window (1954)                                        4.387560
Usual Suspects, The (1995)                                4.385768
Star Wars (1977)                                          4.359589
12 Angry Men (1957)                                       4.344000
Third Man, The (1949)                                     4.333333
Letter From Death Row, A (1998)                           4.333333
Bitter Sugar (Azucar Amargo) (1996)                       4.333333
Citizen Kane (1941)                                       4.292929
Some Folks Call It a Sling Blade (1993)                   4.292683
                                                            ...
Symphonie pastorale, La (1946)                            1.000000
Baton Rouge (1988)                                        1.000000
Boys in Venice (1996)                                     1.000000
Tigrero: A Film That Was Never Made (1994)                1.000000
Office Killer (1997)                                      1.000000
T-Men (1947)                                              1.000000
Terror in a Texas Town (1958)                             1.000000
Nobody Loves Me (Keiner liebt mich) (1994)                1.000000
The Courtyard (1995)                                      1.000000
King of New York (1990)                                   1.000000
Liebelei (1933)                                           1.000000
Stefano Quantestorie (1993)                               1.000000
Hostile Intentions (1994)                                 1.000000
Pharaoh's Army (1995)                                     1.000000
New Age, The (1994)                                       1.000000
Hungarian Fairy Tale, A (1987)                            1.000000
Death in the Garden (Mort en ce jardin, La) (1956)        1.000000
Promise, The (Versprechen, Das) (1994)                    1.000000
I, Worst of All (Yo, la peor de todas) (1990)             1.000000
Power 98 (1995)                                           1.000000
Police Story 4: Project S (Chao ji ji hua) (1993)         1.000000
Low Life, The (1994)                                      1.000000
Somebody to Love (1994)                                   1.000000
Invitation, The (Zaproszenie) (1986)                      1.000000
Lotto Land (1995)                                         1.000000
Touki Bouki (Journey of the Hyena) (1973)                 1.000000
JLG/JLG - autoportrait de décembre (1994)                 1.000000
Daens (1992)                                              1.000000
Butterfly Kiss (1995)                                     1.000000
Eye of Vichy, The (Oeil de Vichy, L') (1993)              1.000000
Name: rating, dtype: float64

In [13]:
# get the movies by max number of rating provided (Average rating with ratings by most people)
df.groupby('title')['rating'].count().sort_values(ascending=False)

title
Star Wars (1977)                                     584
Contact (1997)                                       509
Fargo (1996)                                         508
Return of the Jedi (1983)                            507
Liar Liar (1997)                                     485
English Patient, The (1996)                          481
Scream (1996)                                        478
Toy Story (1995)                                     452
Air Force One (1997)                                 431
Independence Day (ID4) (1996)                        429
Raiders of the Lost Ark (1981)                       420
Godfather, The (1972)                                413
Pulp Fiction (1994)                                  394
Twelve Monkeys (1995)                                392
Silence of the Lambs, The (1991)                     390
Jerry Maguire (1996)                                 384
Chasing Amy (1997)                                   379
Rock, The (1996)                                     378
Empire Strikes Back, The (1980)                      368
Star Trek: First Contact (1996)                      365
Back to the Future (1985)                            350
Titanic (1997)                                       350
Mission: Impossible (1996)                           344
Fugitive, The (1993)                                 336
Indiana Jones and the Last Crusade (1989)            331
Willy Wonka and the Chocolate Factory (1971)         326
Princess Bride, The (1987)                           324
Forrest Gump (1994)                                  321
Monty Python and the Holy Grail (1974)               316
Saint, The (1997)                                    316
                                                    ...
Police Story 4: Project S (Chao ji ji hua) (1993)      1
Power 98 (1995)                                        1
B. Monkey (1998)                                       1
Promise, The (Versprechen, Das) (1994)                 1
Quartier Mozart (1992)                                 1
August (1996)                                          1
Raw Deal (1948)                                        1
Nemesis 2: Nebula (1995)                               1
Mostro, Il (1994)                                      1
Modern Affair, A (1995)                                1
Big One, The (1997)                                    1
Lady of Burlesque (1943)                               1
Land and Freedom (Tierra y libertad) (1995)            1
Lashou shentan (1992)                                  1
Leopard Son, The (1996)                                1
Liebelei (1933)                                        1
Bird of Prey (1996)                                    1
Lotto Land (1995)                                      1
Love Is All There Is (1996)                            1
Low Life, The (1994)                                   1
Coldblooded (1995)                                     1
MURDER and murder (1996)                               1
Big Bang Theory, The (1994)                            1
Mad Dog Time (1996)                                    1
Mamma Roma (1962)                                      1
Man from Down Under, The (1943)                        1
Marlene Dietrich: Shadow and Light (1996)              1
Mat' i syn (1997)                                      1
Mille bolle blu (1993)                                 1
Á köldum klaka (Cold Fever) (1994)                     1
Name: rating, dtype: int64

In [24]:
# convert into a df for ease of analysis
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings

                                                      rating
title
'Til There Was You (1997)                           2.333333
1-900 (1994)                                        2.600000
101 Dalmatians (1996)                               2.908257
12 Angry Men (1957)                                 4.344000
187 (1997)                                          3.024390
2 Days in the Valley (1996)                         3.225806
20,000 Leagues Under the Sea (1954)                 3.500000
2001: A Space Odyssey (1968)                        3.969112
3 Ninjas: High Noon At Mega Mountain (1998)         1.000000
39 Steps, The (1935)                                4.050847
8 1/2 (1963)                                        3.815789
8 Heads in a Duffel Bag (1997)                      3.250000
8 Seconds (1994)                                    3.750000
A Chef in Love (1996)                               4.125000
Above the Rim (1994)                                3.000000
Absolute Power (1997)                               3.370079
Abyss, The (1989)                                   3.589404
Ace Ventura: Pet Detective (1994)                   3.048544
Ace Ventura: When Nature Calls (1995)               2.675676
Across the Sea of Time (1995)                       2.750000
Addams Family Values (1993)                         2.816092
Addicted to Love (1997)                             3.166667
Addiction, The (1995)                               2.181818
Adventures of Pinocchio, The (1996)                 3.051282
Adventures of Priscilla, Queen of the Desert, T...  3.594595
Adventures of Robin Hood, The (1938)                3.791045
Affair to Remember, An (1957)                       4.192308
African Queen, The (1951)                           4.184211
Afterglow (1997)                                    3.111111
Age of Innocence, The (1993)                        3.384615
...                                                      ...
Window to Paris (1994)                              4.000000
Wings of Courage (1995)                             4.000000
Wings of Desire (1987)                              4.000000
Wings of the Dove, The (1997)                       3.680000
Winnie the Pooh and the Blustery Day (1968)         3.800000
Winter Guest, The (1997)                            3.444444
Wishmaster (1997)                                   2.444444
With Honors (1994)                                  3.065217
Withnail and I (1987)                               3.230769
Witness (1985)                                      4.000000
Wizard of Oz, The (1939)                            4.077236
Wolf (1994)                                         2.701493
Woman in Question, The (1950)                       1.000000
Women, The (1939)                                   3.666667
Wonderful, Horrible Life of Leni Riefenstahl, T...  4.000000
Wonderland (1997)                                   3.200000
Wooden Man's Bride, The (Wu Kui) (1994)             2.666667
World of Apu, The (Apur Sansar) (1959)              4.000000
Wrong Trousers, The (1993)                          4.466102
Wyatt Earp (1994)                                   3.100000
Yankee Zulu (1994)                                  1.000000
Year of the Horse (1997)                            3.285714
You So Crazy (1994)                                 3.000000
Young Frankenstein (1974)                           3.945000
Young Guns (1988)                                   3.207921
Young Guns II (1990)                                2.772727
Young Poisoner's Handbook, The (1995)               3.341463
Zeus and Roxanne (1997)                             2.166667
unknown                                             3.444444
Á köldum klaka (Cold Fever) (1994)                  3.000000

[1664 rows x 1 columns]

In [18]:
df['Num of Rating counts']= pd.DataFrame(df.groupby(['title'])['rating'].count())
df

,user_id,item_id,rating,timestamp,title,Num of Rating counts
0,0,50,5,881250949,Star Wars (1977),NaN
1,290,50,5,880473582,Star Wars (1977),NaN
2,79,50,4,891271545,Star Wars (1977),NaN
3,2,50,5,888552084,Star Wars (1977),NaN
4,8,50,5,879362124,Star Wars (1977),NaN
5,274,50,5,878944679,Star Wars (1977),NaN
6,227,50,4,879035347,Star Wars (1977),NaN
7,99,50,5,885679998,Star Wars (1977),NaN
8,305,50,5,886321799,Star Wars (1977),NaN
9,108,50,4,879879739,Star Wars (1977),NaN
10,63,50,4,875747292,Star Wars (1977),NaN
11,234,50,4,892079237,Star Wars (1977),NaN
12,97,50,5,884239471,Star Wars (1977),NaN
13,117,50,5,880126022,Star Wars (1977),NaN
14,70,50,4,884064188,Star Wars (1977),NaN
15,318,50,2,884495696,Star Wars (1977),NaN
16,145,50,5,885557660,Star Wars (1977),NaN
17,124,50,3,890287508,Star Wars (1977),NaN
18,253,50,4,891628518,Star Wars (1977),NaN
19,271,50,5,885848640,Star Wars (1977),NaN
20,254,50,5,886471151,Star Wars (1977),NaN
21,326,50,5,879875112,Star Wars (1977),NaN
22,213,50,5,878870456,Star Wars (1977),NaN
23,80,50,3,887401533,Star Wars (1977),NaN
24,322,50,5,887314418,Star Wars (1977),NaN
25,28,50,4,881957090,Star Wars (1977),NaN
26,267,50,5,878974783,Star Wars (1977),NaN
27,130,50,5,874953665,Star Wars (1977),NaN
28,262,50,2,879962366,Star Wars (1977),NaN
29,230,50,5,880484755,Star Wars (1977),NaN
...,...,...,...,...,...,...
99973,405,1564,1,885546288,To Cross the Rubicon (1991),NaN
99974,456,1604,4,881372849,He Walked by Night (1948),NaN
99975,405,1574,1,885546529,Pharaoh's Army (1995),NaN
99976,883,1448,5,891695570,My Favorite Season (1993),NaN
99977,655,1448,3,887523224,My Favorite Season (1993),NaN
99978,234,1448,3,892335187,My Favorite Season (1993),NaN
99979,787,1671,1,888980193,"Further Gesture, A (1996)",NaN
99980,587,1625,4,892871732,Nightwatch (1997),NaN
99981,782,1665,2,891500194,"Brother's Kiss, A (1997)",NaN
99982,181,1325,1,878962816,August (1996),NaN
99983,782,1670,3,891497793,Tainted (1998),NaN
99984,181,1341,1,878962169,Hedd Wyn (1992),NaN
99985,181,1352,1,878962240,Shadow of Angels (Schatten der Engel) (1976),NaN
99986,655,1636,4,887473570,Brothers in Trouble (1995),NaN
99987,896,1681,3,887160722,You So Crazy (1994),NaN
99988,655,1638,3,887488947,Normal Life (1996),NaN
99989,782,1667,3,891500110,"Next Step, The (1995)",NaN
99990,851,1675,3,884222085,"Sunchaser, The (1996)",NaN
99991,234,1460,3,892335460,Sleepover (1995),NaN
99992,532,1594,4,893115576,Everest (1998),NaN
99993,416,1594,5,893212484,Everest (1998),NaN
99994,648,1626,1,884795447,Nobody Loves Me (Keiner liebt mich) (1994),NaN
99995,655,1645,4,892871225,"Butcher Boy, The (1998)",NaN
99996,747,1659,1,888733313,Getting Away With Murder (1996),NaN
99997,916,1682,3,880845755,Scream of Stone (Schrei aus Stein) (1991),NaN
99998,840,1674,4,891211682,Mamma Roma (1962),NaN
99999,655,1640,3,888474646,"Eighth Day, The (1996)",NaN
100000,655,1637,3,888984255,Girls Town (1996),NaN
100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1...",NaN
100002,655,1641,3,887427810,Dadetown (1995),NaN