In [1]:
# import the required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Movie datasets read the contents of the movie dataset
df = pd.read_csv("datasets/u.data",sep='\t', names=['user_id','item_id','rating','timestamp'])
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [3]:
# Read the file that contains the title of the movies
movie_titles = pd.read_csv("datasets/Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
# Get them together
df = pd.merge(df,movie_titles,on='item_id')
df.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'title'], dtype='object')

In [5]:
# Get the average rating and group them by the movie titles
df.groupby('title')['rating'].mean().sort_values(ascending=False)

title
Marlene Dietrich: Shadow and Light (1996)                 5.000000
Prefontaine (1997)                                        5.000000
Santa with Muscles (1996)                                 5.000000
Star Kid (1997)                                           5.000000
Someone Else's America (1995)                             5.000000
Entertaining Angels: The Dorothy Day Story (1996)         5.000000
Saint of Fort Washington, The (1993)                      5.000000
Great Day in Harlem, A (1994)                             5.000000
They Made Me a Criminal (1939)                            5.000000
Aiqing wansui (1994)                                      5.000000
Pather Panchali (1955)                                    4.625000
Anna (1996)                                               4.500000
Everest (1998)                                            4.500000
Maya Lin: A Strong Clear Vision (1994)                    4.500000
Some Mother's Son (1996)                                  4.500000
Close Shave, A (1995)                                     4.491071
Schindler's List (1993)                                   4.466443
Wrong Trousers, The (1993)                                4.466102
Casablanca (1942)                                         4.456790
Wallace & Gromit: The Best of Aardman Animation (1996)    4.447761
Shawshank Redemption, The (1994)                          4.445230
Rear Window (1954)                                        4.387560
Usual Suspects, The (1995)                                4.385768
Star Wars (1977)                                          4.359589
12 Angry Men (1957)                                       4.344000
Third Man, The (1949)                                     4.333333
Letter From Death Row, A (1998)                           4.333333
Bitter Sugar (Azucar Amargo) (1996)                       4.333333
Citizen Kane (1941)                                       4.292929
Some Folks Call It a Sling Blade (1993)                   4.292683
                                                            ...
Symphonie pastorale, La (1946)                            1.000000
Baton Rouge (1988)                                        1.000000
Boys in Venice (1996)                                     1.000000
Tigrero: A Film That Was Never Made (1994)                1.000000
Office Killer (1997)                                      1.000000
T-Men (1947)                                              1.000000
Terror in a Texas Town (1958)                             1.000000
Nobody Loves Me (Keiner liebt mich) (1994)                1.000000
The Courtyard (1995)                                      1.000000
King of New York (1990)                                   1.000000
Liebelei (1933)                                           1.000000
Stefano Quantestorie (1993)                               1.000000
Hostile Intentions (1994)                                 1.000000
Pharaoh's Army (1995)                                     1.000000
New Age, The (1994)                                       1.000000
Hungarian Fairy Tale, A (1987)                            1.000000
Death in the Garden (Mort en ce jardin, La) (1956)        1.000000
Promise, The (Versprechen, Das) (1994)                    1.000000
I, Worst of All (Yo, la peor de todas) (1990)             1.000000
Power 98 (1995)                                           1.000000
Police Story 4: Project S (Chao ji ji hua) (1993)         1.000000
Low Life, The (1994)                                      1.000000
Somebody to Love (1994)                                   1.000000
Invitation, The (Zaproszenie) (1986)                      1.000000
Lotto Land (1995)                                         1.000000
Touki Bouki (Journey of the Hyena) (1973)                 1.000000
JLG/JLG - autoportrait de décembre (1994)                 1.000000
Daens (1992)                                              1.000000
Butterfly Kiss (1995)                                     1.000000
Eye of Vichy, The (Oeil de Vichy, L') (1993)              1.000000
Name: rating, dtype: float64

In [13]:
# get the movies by max number of rating provided (Average rating with ratings by most people)
df.groupby('title')['rating'].count().sort_values(ascending=False)

title
Star Wars (1977)                                     584
Contact (1997)                                       509
Fargo (1996)                                         508
Return of the Jedi (1983)                            507
Liar Liar (1997)                                     485
English Patient, The (1996)                          481
Scream (1996)                                        478
Toy Story (1995)                                     452
Air Force One (1997)                                 431
Independence Day (ID4) (1996)                        429
Raiders of the Lost Ark (1981)                       420
Godfather, The (1972)                                413
Pulp Fiction (1994)                                  394
Twelve Monkeys (1995)                                392
Silence of the Lambs, The (1991)                     390
Jerry Maguire (1996)                                 384
Chasing Amy (1997)                                   379
Rock, The (1996)                                     378
Empire Strikes Back, The (1980)                      368
Star Trek: First Contact (1996)                      365
Back to the Future (1985)                            350
Titanic (1997)                                       350
Mission: Impossible (1996)                           344
Fugitive, The (1993)                                 336
Indiana Jones and the Last Crusade (1989)            331
Willy Wonka and the Chocolate Factory (1971)         326
Princess Bride, The (1987)                           324
Forrest Gump (1994)                                  321
Monty Python and the Holy Grail (1974)               316
Saint, The (1997)                                    316
                                                    ...
Police Story 4: Project S (Chao ji ji hua) (1993)      1
Power 98 (1995)                                        1
B. Monkey (1998)                                       1
Promise, The (Versprechen, Das) (1994)                 1
Quartier Mozart (1992)                                 1
August (1996)                                          1
Raw Deal (1948)                                        1
Nemesis 2: Nebula (1995)                               1
Mostro, Il (1994)                                      1
Modern Affair, A (1995)                                1
Big One, The (1997)                                    1
Lady of Burlesque (1943)                               1
Land and Freedom (Tierra y libertad) (1995)            1
Lashou shentan (1992)                                  1
Leopard Son, The (1996)                                1
Liebelei (1933)                                        1
Bird of Prey (1996)                                    1
Lotto Land (1995)                                      1
Love Is All There Is (1996)                            1
Low Life, The (1994)                                   1
Coldblooded (1995)                                     1
MURDER and murder (1996)                               1
Big Bang Theory, The (1994)                            1
Mad Dog Time (1996)                                    1
Mamma Roma (1962)                                      1
Man from Down Under, The (1943)                        1
Marlene Dietrich: Shadow and Light (1996)              1
Mat' i syn (1997)                                      1
Mille bolle blu (1993)                                 1
Á köldum klaka (Cold Fever) (1994)                     1
Name: rating, dtype: int64