In [1]:
import numpy as np
import pandas as pd

In [3]:
# Movie datasets
df = pd.read_csv("datasets/u.data",sep='\t', names=['user_id','item_id','rating','timestamp'])
df

        user_id  item_id  rating  timestamp
0             0       50       5  881250949
1             0      172       5  881250949
2             0      133       1  881250949
3           196      242       3  881250949
4           186      302       3  891717742
5            22      377       1  878887116
6           244       51       2  880606923
7           166      346       1  886397596
8           298      474       4  884182806
9           115      265       2  881171488
10          253      465       5  891628467
11          305      451       3  886324817
12            6       86       3  883603013
13           62      257       2  879372434
14          286     1014       5  879781125
15          200      222       5  876042340
16          210       40       3  891035994
17          224       29       3  888104457
18          303      785       3  879485318
19          122      387       5  879270459
20          194      274       2  879539794
21          291     1042       4  874834944
22          234     1184       2  892079237
23          119      392       4  886176814
24          167      486       4  892738452
25          299      144       4  877881320
26          291      118       2  874833878
27          308        1       4  887736532
28           95      546       2  879196566
29           38       95       5  892430094
...         ...      ...     ...        ...
99973       449      120       1  879959573
99974       661      762       2  876037121
99975       721      874       3  877137447
99976       821      151       4  874792889
99977       764      596       3  876243046
99978       537      443       3  886031752
99979       618      628       2  891308019
99980       487      291       3  883445079
99981       113      975       5  875936424
99982       943      391       2  888640291
99983       864      685       4  888891900
99984       750      323       3  879445877
99985       279       64       1  875308510
99986       646      750       3  888528902
99987       654      370       2  887863914
99988       617      582       4  883789294
99989       913      690       3  880824288
99990       660      229       2  891406212
99991       421      498       4  892241344
99992       495     1091       4  888637503
99993       806      421       4  882388897
99994       676      538       4  892685437
99995       721      262       3  877137285
99996       913      209       2  881367150
99997       378       78       3  880056976
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

[100003 rows x 4 columns]